-# .row
-#   .span12
-#     .articles(ng-controller='TipListCtrl')
-#       .header
-#         %strong
-#           Welcome to
-#         %em
-#           knowledge sharing system
-#         %a.pull-right(href='#')
-#           %i.icon-plus
-#
-#       .cell(ng-repeat='article in articles')
-#         .pull-right
-#           .badge {{articles.num}}
-#         %div(class="article") {{article.content}}
-#
-#         .tags
-#           %ul.nav.nav-pills
-#             %li(ng-repeat="tag in article.tags")
-#               %a(href='#') {{tag}}

.row
  .span12
    .articles(ng-view)
      .header
        %strong
          Welcome to
        %em
          knowledge sharing system
        %a.pull-right(href='#')
          %i.icon-plus

      .cell(ng-repeat='article in articles')
        .pull-right
          .badge {{articles.num}}
        %div(class="article") {{article.content}}

        .tags
          %ul.nav.nav-pills
            %li(ng-repeat="tag in article.tags")
              %a(href='#') {{tag}}

