.row
  .span6
    .articles
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
      .cell this is a tip
  .span6
    .articles
      .cell this is a article
      .cell this is a article
      .cell this is a article
      .cell this is a article
      .cell this is a article
      .cell this is a article
      .cell this is a article
      .cell this is a article
