*.swo
.bundle
log/*.log
log/*
*.pid
tmp/**/*
har/**/*
tmp/*
doc/api
doc/app
public/configuration
public/stylesheets/buttons.css
public/stylesheets/analytics.css
public/stylesheets/basic.css
public/stylesheets/buttons.css
public/stylesheets/home.css
public/stylesheets/landing.css
public/stylesheets/mixins.css
public/stylesheets/navigation.css
public/stylesheets/profile.css
public/stylesheets/share.css
public/stylesheets/shared-common.css
public/stylesheets/v2main.css
public/stylesheets/variables.css
public/stylesheets/api-key.css
public/stylesheets/bill.css
public/stylesheets/widgets.css
public/stylesheets/api-key.css
public/stylesheets/traffic.css
public/stylesheets/mods/custom-conditions.css
public/stylesheets/mods/list-editor.css
public/stylesheets/mods/footer_spread.css
public/stylesheets/mods/up_sell.css
public/stylesheets/mods/legacy_wizard_nav.css
public/stylesheets/mods/fonticons.css
public/stylesheets/apps/opt-exceptions.css
rerun.txt
db/schema.rb
public/javascripts/all.js
public/framework
public/optimizer
public/dns
public/monitoring
public/usage
public/assessment
public/userpermissions
public/alert
coverage
.project
public/javascripts/tiny_mce/**/*
public/javascripts/tiny_mce/*
public/assets
TAGS
\#*\#
.#*
Guardfile
*.key
*.keystore
.ssh_keys
bin
*.swp
.DS_Store
.rvmrc

public/stylesheets/yottaa_base.css
public/stylesheets/yottaa_ui.css
public/stylesheets/typo.css
public/stylesheets/layouts.css
public/stylesheets/bill.css
public/stylesheets/apps/*.css
public/stylesheets/forms.css
public/stylesheets/icons.css
public/stylesheets/alerts.css
public/stylesheets/popover.css
public/stylesheets/alerts.css
.sass-cache/
dump.rdb
