/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require app_bootstrap
 *= require_self
 *= require_tree .
 */

#wrap{
  padding-top: 30px;
  background-color: #E0E0E0;
}

#footer{
  position: fixed;
  bottom:0px;
  height: 80px;
  background-color: white;
}
