.header{
  border-bottom: 2px solid #999;
  padding-left: 30px;

  .pull-little-right{
    margin-left: 20px;
  }
}

.articles{
  margin-top: 15px;
  padding: 10px;
  min-height: 500px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  a.title{
    text-decoration:none;
    color: #999;
  }

  .cell{
    font-size: 14px;
    color: #33333;
    margin-top: 15px;
    height: 60px;
    border-bottom: 1px solid #D5F3F5;
    // background-color: #D5F3F5;
    border-radius: 3px;
    padding: 5px;
    margin-bottom:15px;

    .article{
      padding-left: 30px;
      margin-top:3px;
      font-size: 18px;
    }

    .tags{
      margin-left: 50px;
    }
  }
}

.tag_list{
  background: white;
  min-height: 500px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-top: 15px;
  padding: 10px;
}

.sharing_form{
  margin-top: 15px;
  padding: 10px;
  min-height: 500px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 50px;
}

.detail{

  margin-top: 15px;
  padding: 10px;
  min-height: 500px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 50px;

  .title{
    line-height: 32px;
    float: left;
    font-size: 38.5px;
    padding-left: 10px;
  }

  .manage-hide{
    display: none;
  }
  .manage-show{
    display: block;
  }

  .type{
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    float: right;
    letter-spacing: 5px;
    a{
      text-decoration: none;
    }
  }
  .content{
    clear: both;
    color: black;
    font-size: 14px;
    line-height: 180%;
    oeverflow: hidden;
    word-break: break-word;
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
  }
}

