<div class='sharing_form'>
  <form class="form-horizontal" name='articleForm'>
    <div class="control-group">
      <div class="controls">
        <legend>Time to share</legend>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="text" ng-model='article.title' class='span6' placeholder="title" required></input>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <select ng-model='article.article_type' class='span6' required>
          <option value="tip">tip</option>
          <option value="document">document</option>
          <option value="book">book</option>
          <option value="video">video</option>
          <option value="audio">audio</option>
          <option value="question">question</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls dropdown">
        <input id='tags' type="text" ng-model='article.tags' class='span6' placeholder="use 3d tags" typeahead="tag.name for tag in tags | filter: $viewValue" required></input>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <textarea ng-model='article.content' class='span6' rows="9" placeholder='content goes here' required></textarea>
        <div class="help-block">
          <ul>
            <li>the resource url</li>
            <li>you can modified with Markdown</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button ng-click='save()' class="btn">Submit</button>
      </div>
    </div>
    <hr />
  </form>
</div>
