<form class="form-horizontal" ng-controller='SharingCtrl'>
  <div class="control-group">
    <div class="controls">
      <legend>Time to share</legend>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="text" ng-model='sharing_form.title' class='big-input' placeholder="title"></input>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="text" ng-model='sharing_form.article_type' class='big-input' placeholder="article type"></input>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="text" ng-model='sharing_form.tags' class='big-input' placeholder="tags"></input>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <textarea ng-model='sharing_form.content' class='big-input' rows="9" placeholder='content goes here'></textarea>
      <div class="help-block">
        <ul>
          <li>the resource url</li>
          <li>you can modified with Markdown</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button ng-click='save()' class="btn">Submit</button>
    </div>
  </div>
  <hr />
  Debug View: <pre>sharing_form={{sharing_form}}</pre>
</form>
