!!! 5
%html(lang='zh-CN' ng-app='knowledgeSharing')
  %head
    %title Knowledge Sharing
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          %a.brand(href="#{root_path}")Knowledge Sharing
          %form.navbar-search.offset1.form-search
            .input-append
              %input.search-query.span5(placeholder='keywords | commands ...' type='text' ng-model='query')
              %button(type="submit" class="btn") Search
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle='dropdown')
                Account
                %b.caret
              %ul.dropdown-menu
                -if user_signed_in?
                  %li
                    =link_to 'Edit', edit_user_registration_path
                  %li.divider
                  %li
                    =link_to 'LogOut', destroy_user_session_path, :method => 'delete'
                -else
                  %li
                    =link_to 'SignIn', new_user_session_path
                  %li.divider
                  %li
                    =link_to 'SignUp', new_user_registration_path
    #wrap
      .container
        .row
          .span12
          .header
            %strong
              %em
                %a(href="#/") Knowledge Sharing System
                %a(href="#/sharing" class="pull-little-right")
                  %i.icon-plus
          =yield
    = javascript_include_tag "application"
